@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #00b09b;  
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  
    background: linear-gradient(to right, #96c93d, #00b09b); 
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.avatar{
    border-radius: 50%;
}
.album{
    border-radius: 25px;
}