<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
    </head>
    <body>
        <div class='container'>
            <h1>{{ track_name }}</h2>
            <img class="avatar" src="{{ artist_img }}" style="width:120px;height120"px;>
            <h3>by {{ artist }}</h3>
            <img class="album" src="{{ image }}">
            <h4>
                <audio controls autoplay>
                <source src="{{ track_prev }}" type="video/mp4">
                </audio>
                <p><a href="{{ lyrics_url }}">Click here to see the lyrics!</a></p>
            </h4>
            <img src="https://i.imgur.com/3HkkqOm.gif" style="width:400px;height230px;">
        </div>
    </body>
</html>

